In [ ]:
import pytesseract
from pdf2image import convert_from_path
import re 
import pandas as pd

pdf_path = "../pdfs/relatorio-anual-de-gestao-2024-rag.pdf"
numero_pagina = 13
imagens = convert_from_path(pdf_path, first_page=numero_pagina + 1, last_page=numero_pagina + 1)
imagem_pagina = imagens[0]

config_tesseract = '--psm 6'

texto_extraido = pytesseract.image_to_string(
    imagem_pagina, 
    lang='por', 
    config=config_tesseract
)

texto_corrigido = texto_extraido.replace('Parcela\nNovembro', 'Parcela Novembro')
linhas = texto_corrigido.strip().split('\n')
nomes_colunas = linhas[0].split()
import pandas as pd
import re

texto_corrigido = texto_extraido.replace('Parcela\nNovembro', 'Parcela Novembro')

nomes_colunas_corretos = [
    'MESES DE REFERÊNCIA',
    'SMS',
    'UPA',
    'SAMU',
    'GESTÃO DUPLA',
    'TOTAL'
]
# -----------------------------

linhas = texto_corrigido.strip().split('\n')
dados_processados = []
padrao_valor = r'R\$\d{1,3}(?:\.\d{3})*,\d{2}'

for linha in linhas[1:]:
    if 'TOTAL:' in linha or not linha.strip():
        continue

    valores = re.findall(padrao_valor, linha)
    
    if valores:
        primeiro_valor_pos = linha.find(valores[0])
        descricao = linha[:primeiro_valor_pos].strip()
        
        nova_linha = [descricao] + valores
        dados_processados.append(nova_linha)

df = pd.DataFrame(dados_processados, columns=nomes_colunas_corretos)
df.drop(df.index[13:15], inplace=True)
df
df.to_csv("../pgto_enfermagem/dados_pgto_enf.csv")

,MESES DE REFERÊNCIA,SMS,UPA,SAMU,GESTÃO DUPLA,TOTAL
0,Janeiro ref. Dezembro,"R$92.460,99","R$93.079,02","R$17.480,46","R$65.676,86","R$268.697,33"
1,Fevereiro ret. Janeiro,"R$91.526,83","R$57.008,19","R$18.669,98","R$65.615,70","R$232.820,70"
2,Março ref. Fevereiro,"R$90.200,81","R$57.008,19","R$17.150,35","R$65.781,05","R$230.140,40"
3,Abril ref. Março,"R$88.784,92","R$57.008,19","R$18.509,26","R$66.320,04","R$230.622,41"
4,Maio Ref. Abril e Maio,"R$177.569,84","R$114.016,38","R$37.018,52","R$132.640,08","R$461.244,82"
5,Julho ref. Junho,"R$87.852,56","R$53.745,63","R$17.781,35","R$65.449,93","R$224.829,47"
6,Agosto ret. Julho,"R$86.417,51","R$50.551,14","R$20.569,65","R$64.952,28","R$222.490,58"
7,Setembro Ref. Agosto,"R$87.997,05","R$50.546,07","R$18.905,13","R$64.579,04","R$222.027,29"
8,Outubro Ref. Setembro,"R$70.852,90","R$51.438,80","R$22.621,06","R$53.769,69","R$198.682,45"
9,Novembro Ref. Outubro,"R$70.143,96","R$51.438,80","R$18.913,14","R$53.275,55","R$193.771,45"
10,Dezembro Ref. Novembro,"R$69.096,69","R$54.116,99","R$18.913,14","R$53.165,65","R$195.292,47"
11,Dezembro Ref. 13º Parcela Novembro,"R$69.096,69","R$54.116,99","R$18.913,14","R$52.165,65","R$194.292,47"
12,Janeiro 2025 Ref. Dezembro,"R$68.355,48","R$53.330,51","R$19.141,58","R$52.165,65","R$192.993,22"